Crex-TERMS-OF-SERVICE
Terms and Service
ANY FAILURE IN FOLLOWING THESE STUFFS WILLL LEAD TO A BOT BAN/BLACKLIST.
BOT TERMS

AGE
Your age must be 13 or 13+ or legal consent age for your country.

MISUSE
You Must Not Abuse/Misuse our database by spamming commands.

BUG ABUSE
If you find any bug(s), directly contact to developers and tell the issue. Leaking/Spamming Bot bugs anyways, leads to permanent bot ban/blacklist.

DISCORD TOS
You must follow/agree the discord's terms. You can find them on discord.com/terms.

GOVERNING LAW
The laws of the Country, excluding its conflicts of law rules, shall govern this Terms and Your use of the Service. Your use of the Application may also be subject to other local, state, national, or international laws.

Privacy Policy
DATA WE COLLECT

We Are Saving Server Ids To Track Server Settings.
We Are Saving User Ids To Keeping track of user based settings.
Do we share our collected data with anyone ?
We do NOT share any of our user data, since we know how important privacy is for every one of us.
Deletion Of Your Data
There are 2 main options available to delete your data.

Join our Discord Support Server, go to #general and mention your current state and issue. You will get support in less than 20 minutes.
Some of the settings already have an option to disable them/delete the stored data. If there is no option available, try the first option mentioned above.
